<div class="container">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Subjects table</h3>

 
    <div class="row">
      <button type="button" class="btn btn-success btn-lg active" data-toggle="modal" data-target="#createModal"
        (onClick)="openModalC()"> <i class=" fa fa-plus"></i> add </button>
    </div>
    <div class="mat-elevation-z8">


        <div *ngFor="let sujet  of sujets  ; let i = index">


          <div class="card text-center">

            <div class="card-header">
              created by {{sujet.user.firstName}}
              <div class="">
              <button type="button" class="btn btn-primary btn-sm" *ngIf="IsUser(sujet)"> Edit</button>
              <button type="button" class="btn btn-danger btn-sm" (click)="delete(sujet)" *ngIf="IsUser(sujet)">Delete</button>
            </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{sujet.titre}}</h5>
              <p class="card-text">{{sujet.description}}</p>
              <a class="btn btn-primary" (click)="startVote(sujet)">Participez au vote </a>
            </div>

          </div>

        </div>
      
    </div>


</div>


<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Subject</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createForm" class="md-form">
          <input class="form-control" autocomplete="off" formControlName="user" hidden>

          <div class="form-group">

            <input class="form-control" autofocus autocomplete="off" formControlName="titre" required>
          </div>
          <div class="form-group">


            <textarea placeholder="Description" formControlName="description" class="form-control"
              id="exampleFormControlTextarea1" rows="3" required></textarea>

          </div>

        </form>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="create()">Save changes</button>
      </div>
    </div>
  </div>
</div>